/* Display 'descriptions' for each property in 'Properties View' and in 'On Create New Page Required Properties View' */
.Sleek div.epi-cardContainer.dijitContainer.dijitLayoutContainer .dijitContainer > .epi-form-container div.dijitTabPaneWrapper ul.epi-form-container__section.dijitLayoutContainer.dijitContainer > li.epi-form-container__section__row > label[title]:after,
/* Display 'descriptions' for each property in 'On Create New Block Properties View' */
.Sleek div.epi-containerLayout.dijitLayoutContainer.dijitContainer ul > li.epi-form-container__section__row.epi-form-container__section__row--field > label[title]:after {
    display: block;
    content: " " attr(title);
    font-size: 13.5px;
    font-style: italic;
    position: relative;
    background-color: #efefef;
    border-radius: 3px;
    padding-left: 3px;
    padding-right: 3px;
    color: #626262;
    margin-top: 3px;
    position: relative;
    width: 228px;
    line-height: 1.31;
}

/* Display 'descriptions' for each property in 'PropertyList Dialog View' */
/* The 'descriptions' are not currently part of the 'PropertyList Dialog View' */

/* Hide 'Descriptions' in the last tab, 'SETTINGS' which is Episerver "only" properties */
.Sleek div.epi-cardContainer.dijitContainer.dijitLayoutContainer .dijitContainer > .epi-form-container div.dijitTabPaneWrapper ul.dijitLayoutContainer.dijitContainer.epi-form-container__section:last-child > li.epi-form-container__section__row > label[title]:after
{
    content: none;
}

/* Show 'Descriptions' in the last tab, 'SETTINGS', but only the none-top-4 */
.Sleek div.epi-cardContainer.dijitContainer.dijitLayoutContainer .dijitContainer > .epi-form-container div.dijitTabPaneWrapper ul.dijitLayoutContainer.dijitContainer.epi-form-container__section:last-child > li.epi-form-container__section__row:nth-child(n+8) > label[title]:after {
    content: " " attr(title) !important;
}

/* Show 'Descriptions' always in the last property on all tabs, even 'Settings' tab */
.Sleek div.epi-cardContainer.dijitContainer.dijitLayoutContainer .dijitContainer > .epi-form-container div.dijitTabPaneWrapper ul.dijitLayoutContainer.dijitContainer.epi-form-container__section > li.epi-form-container__section__row:last-of-type > label[title]:after {
    content: " " attr(title) !important;
}

/* Set label width on all properties in 'Properties View' and in 'On Create New Page Required Properties View' */
.Sleek div.epi-cardContainer.dijitContainer.dijitLayoutContainer .dijitContainer > .epi-form-container div.dijitTabPaneWrapper ul.epi-form-container__section.dijitLayoutContainer.dijitContainer > li.epi-form-container__section__row > label,
/* Set label width on all properties in 'On Create New Block Properties View' */
.Sleek div.epi-containerLayout.dijitLayoutContainer.dijitContainer ul > li.epi-form-container__section__row.epi-form-container__section__row--field > label {
    width: 236px;
    /* box-sizing: unset; */
}


/* Hide the title saying 'Required Properties' during new block dialog */
.Sleek .epi-newContentContainer li.epi-form-container__section__row.epi-form-container__section__row--group > div.epi-containerLayout.dijitLayoutContainer.dijitContainer > div.epi-formsHeaderContainer {
    visibility: hidden;
    display: none;
}


/* Set checkboxes "label" on left, checkbox on right, and adjust sizes */
/*
.Sleek div.epi-cardContainer.dijitContainer.dijitLayoutContainer .dijitContainer > .epi-form-container div.dijitTabPaneWrapper ul.epi-form-container__section.epi-form-container__section__row--checkbox > label[title] {
   min-width: 240px;
}
*/

.Sleek div.epi-cardContainer.dijitContainer.dijitLayoutContainer .dijitContainer > .epi-form-container div.dijitTabPaneWrapper ul.epi-form-container__section > li.epi-form-container__section__row--checkbox > label {
    box-sizing: unset;
    width: 234px !important;
}

.Sleek div.epi-cardContainer.dijitContainer.dijitLayoutContainer .dijitContainer > .epi-form-container div.dijitTabPaneWrapper ul.epi-form-container__section > li.epi-form-container__section__row--checkbox {
    padding-left: 0;
    margin-left: 0px;
    overflow: hidden;
}
    
.Sleek div.epi-cardContainer.dijitContainer.dijitLayoutContainer .dijitContainer > .epi-form-container div.dijitTabPaneWrapper .dijit.dijitReset.dijitInline.dijitLeft.dijitTextBox.dijitValidationTextBox {
    min-width: 250px !important;
}

.Sleek div.epi-cardContainer.dijitContainer.dijitLayoutContainer .dijitContainer > .epi-form-container div.dijitTabPaneWrapper .epi-previewableTextBox-text {
    max-width: none;
}

.Sleek div.epi-cardContainer.dijitContainer.dijitLayoutContainer .dijitContainer > .epi-form-container div.dijitTabPaneWrapper .epi-form-container__section__row--checkbox > label {
    position: unset !important;
    margin-top: -20px !important;
    margin-left: unset !important;
    cursor: pointer;
}

.Sleek div.epi-cardContainer.dijitContainer.dijitLayoutContainer .dijitContainer > .epi-form-container div.dijitTabPaneWrapper .epi-form-container__section__row--checkbox > div {
    margin-left: 12px !important;
    margin-right: 100% !important;
    left: 228px !important;
    top: 2px !important;
    position: relative !important;
    float: left !important;
    cursor: pointer;
}

/* CheckBoxes 'On Create Page' and 'On Create Block' required properties view */
div.epi-createContent div.dijitContainer.epi-newContentContainer ul li.epi-form-container__section__row.epi-form-container__section__row--field.epi-form-container__section__row--checkbox {
    overflow: hidden;
}

/* CheckBoxes 'On Create Page' and 'On Create Block' required properties view */
div.epi-createContent div.dijitContainer.epi-newContentContainer ul li.epi-form-container__section__row.epi-form-container__section__row--field.epi-form-container__section__row--checkbox > div.dijit.dijitInline {
    margin-left: 12px !important;
    margin-right: 100% !important;
    position: absolute !important;
    float: left !important;
    cursor: pointer;
    left: 252px !important;
}

/*End checkbox adjustments */

/* Hide "language" in version gadget as we only have NO */
.Sleek .dgrid-row-table .dgrid-column-language:first-child {
    width: HideLanguageColumnInVersionGadget;
    visibility: HideLanguageColumnInVersionGadgetVisibility;
}

/* NEW CONTENT WINDOW - BORDER AROUND EACH CONTENT TYPE (BLOCK/PAGE) TO SELECT FROM */
.Sleek .epi-listingContainer ul.epi-advancedListing li div.epi-browserWindow {
    background-color: ContentCreationBorderColor !important;
}

/* PAGE TREE AND BLOCK TREE GETS A BORDER BOTTOM FOR SELECTED ITEM */
.Sleek .dijitTreeContainer .dijitTreeRow.dijitTreeRowSelected::before {
    border-bottom: 1px solid PageTreeSelectedContentBorderColor;
    height: 31px;
}

/* Title of 'Current Content' in h1 in the breadcrumb */
.Sleek .epi-toolbarLeading .epi-breadCrumbs-title-wrapper h1.epi-breadcrumbContentItem {
    margin-top: 6px;
    color: ContentTitleColor;
}

/* PAGE TREE ICON */
.Sleek .dijitIcon.dijitTreeIcon.epi-iconObjectPage.custom-common-episerver-page-tree-icon {
    background-size: contain;
    background-repeat: no-repeat;
    min-width: 19px;
    max-height: 19px;
    max-width: 21px;
    font-size: 0.25px;
    margin-top: 5px;
}

/* BORDER ON CONTENT TYPES WHEN CLICKING ON 'NEW PAGE' OR 'NEW BLOCK' */
.Sleek .epi-newContentContainer ul.epi-advancedListing li.dijitLayoutContainer-child > .epi-browserWindow > .epi-browserWindowContent {
    background-color: ContentCreationBackgroundColor;
}

/* BACKGROUND COLOR OF 'PROJECT TOOLBAR' AT BOTTOM WHEN VIEWING 'Edit' IF YOU'RE WORKING IN A PROJECT */
.Sleek .epi-project-mode-toolbar.epi-project-mode-toolbar--project-selected {
    background-color: ActiveProjectBarBackgroundColor !important;
    border-color: ActiveProjectBarBackgroundColorBorder !important;
}

