.SystemLibraryCommonEpiserverSelectionPicker {
    list-style-type: none;
    border: 1px solid #b5bcc7;
    padding: 6px;
    overflow: hidden;
    max-width: 350px;
}

    .SystemLibraryCommonEpiserverSelectionPicker li {
        display: inline-block;
        border: 3px solid transparent;
    }

        .SystemLibraryCommonEpiserverSelectionPicker li:hover {
            border: 3px solid #b5bcc7;
        }

        .SystemLibraryCommonEpiserverSelectionPicker li.selectedColor {
            border: 3px solid #7cb5ec;
        }

        .SystemLibraryCommonEpiserverSelectionPicker li a {
            display: block;
            height: 48px;
            width: 80px;
        }

            .SystemLibraryCommonEpiserverSelectionPicker li a span {
                position: absolute;
                margin: -100000px;
            }

.SystemLibraryCommonEpiserverSelectionPicker-item {
    word-break: break-word;
    border: 2px;
    border-style: solid;
    border-color: rgba(255,255,255, 255);
    font-size: 10.5px;
    text-align: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    display: block;
    min-width: 92%;
    min-height: 92%;
}

    .SystemLibraryCommonEpiserverSelectionPicker-item.background-color--unset {
        border-radius: 5px;
        position: relative;
    }

.SystemLibraryCommonEpiserverSelectionPicker-item--black,
.SystemLibraryCommonEpiserverSelectionPicker-item--light-black {
    color: #dfdfdf;
}

.SystemLibraryCommonEpiserverSelectionPicker-item.background-color--unset:after {
    position: absolute;
    top: -42px;
    bottom: 0;
    left: 0px;
    right: 0;
    content: '\d7';
    font-size: 42px;
    line-height: 100px;
}

.SystemLibraryCommonEpiserverSelectionPicker--item-selected {
    border: 0;
    font-weight: 700;
    font-size: 10.5px;
    border-bottom: solid 2px #B84D94;
}
