/* String Textboxes are too tall, so restrict to content */
.Sleek .dijitTabPaneWrapper.dijitTabContainerTop-container li.epi-form-container__section__row .dijit.dijitReset.dijitInline.dijitLeft.dijitTextBox {
    height: fit-content;
}

/* Display epi-property-descriptions in 'property container' */
.Sleek .dijitTabPaneWrapper.dijitTabContainerTop-container .epi-property-description div:not([class]) {
    display: block !important;
    visibility: visible !important;
}

/* Hide the tooltip click area */
.Sleek .dijitTabPaneWrapper.dijitTabContainerTop-container .epi-property-description > .click-area {
    display: none !important;
    visibility: hidden !important;
}

/* Clear padding of the descriptions container */
.Sleek .dijitTabPaneWrapper.dijitTabContainerTop-container .epi-property-description .oui-pop--over {
    position: relative !important;
    margin: 0 !important;
    top: -2px !important;
    border: 0 !important;
}


/* Set background, fontsize etc of the description */
.Sleek .dijitTabPaneWrapper.dijitTabContainerTop-container .epi-property-description .oui-pop--over__content {
    font-size: 13px;
    font-style: italic;
    background-color: #f0f0f0;
    border-radius: 4px;
    padding: 3px;
    color: #606060;
    line-height: 1.3;
}

/* Hide the tooltip button whenever epi-property-descriptions are visible */
.Sleek .dijitTabPaneWrapper.dijitTabContainerTop-container .epi-property-description svg.svg-inline--fa.fa-circle-question.axiom-icon.axiom-icon--small.fa-fw {
    display: none;
}

/* Hide 'Descriptions' in the last tab, 'SETTINGS' */
.Sleek .dijitTabPaneWrapper.dijitTabContainerTop-container .epi-form-container__section.dijitLayoutContainer.dijitTabContainerTop-child:last-child .epi-form-container__section__row .epi-property-description {
    display: none !important;
    visibility: hidden !important;
}

/* Show 'Descriptions' in the last tab, 'SETTINGS', from property number 8 and higher */
.Sleek .dijitTabPaneWrapper.dijitTabContainerTop-container .epi-form-container__section.dijitLayoutContainer.dijitTabContainerTop-child li.epi-form-container__section__row:nth-child(n+8) .epi-property-description {
    display: block !important;
    visibility: visible !important;
}

/* Set the label to block, so "description" goes below display name */
.Sleek .dijitTabPaneWrapper.dijitTabContainerTop-container .epi-form-container__section__label-container {
    display: block !important;
}