/* Calendar for DateTime (and Date) popup layout, increasing the popup and font size */
.Sleek > div.dijitPopup.Popup,
.Sleek > div.dijitPopup.dijitCalendarPopup {
    background-color: white;
    min-width: 230px;
    max-width: 590px;
    width: 100%;
}

/* Inner calendar container increase width */
.Sleek > div.dijitPopup.Popup > .epi-dateTimeWrapper {
    width: 100% !important;
    background-color: white;
}

.Sleek > div.dijitPopup.Popup .epi-timePickerWrapper {
    padding: 0 !important;
    text-align: left !important;
    padding-top: 1em !important;
    background: white;
    margin-top: 1em;
    border-top: 1px solid;
}

/* Calendar increase font size on the clock icon */
.Sleek > div.dijitPopup.Popup > .epi-dateTimeWrapper .dijitIcon.epi-iconClock {
    font-size: 18px;
}

/* Calendar time zone info increase font size */
.Sleek .epi-dateTimeWrapper .epi-timeZoneInfo {
    font-size: 13px !important;
}

/* Calendar as a whole, increase width and font */
.Sleek > div.dijitPopup table.dijitCalendarContainer.dijitCalendar {
    font-size: 14px !important;
    background: white;
    min-width: 230px;
    max-width: 590px;
    width: 100% !important;
}

.Sleek > div.dijitPopup table.dijitCalendarContainer.dijitCalendar .dijitCalendarDayLabel {
    font-size: 14px;
    padding-top: 0.5em;
    padding-bottom: 0.3em;
}

.Sleek > div.dijitPopup table.dijitCalendarContainer.dijitCalendar .dijitCalendarYearLabel span {
    background-color: #fff9e6;
    max-width: 12%;
    font-size: 14px;
    text-align: center;
}

/* Calendar date selected background */
.Sleek > div.dijitPopup table.dijitCalendarContainer.dijitCalendar .dijitCalendarSelectedDate span.dijitCalendarDateLabel {
    background-color: #36DF3A;
}

/* Calendar main heading background */
.Sleek > div.dijitPopup table.dijitCalendarContainer.dijitCalendar .dijitCalendarMonthContainer {
    background-color: #080736;
}

/* Calendar input field when filled out, gets a red cross, increase and change color */
.Sleek .dijitDateTextBox .epi-clearButtonSlimInput {
color: #EF3434;
font-size: 20px;
}
