/* Revert Epi 12.10 UI changes 
   Displays properties in "title - value" mode, just like the old days, instead of title above the value
*/
.Sleek div.dijitTabPaneWrapper > ul.epi-form-container__section.dijitLayoutContainer.dijitContainer.dijitTabPane.dijitVisible > li.epi-form-container__section__row {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
}

.Sleek div.dijitTabPaneWrapper > ul.epi-form-container__section.dijitContainer.dijitTabPane > li.epi-form-container__section__row > .epi-form-container__section__label-container {
    max-width: 240px !important;
    min-width: 240px !important;
    align-items: start;
    padding: 4px !important;
}

.Sleek div.dijitTabPaneWrapper > ul.epi-form-container__section.dijitLayoutContainer.dijitContainer.dijitTabPane.dijitVisible > li.epi-form-container__section__row > * {
    height: unset;
}

.Sleek .epi-form-container__section__row.epi-form-container__section__row--field {
    border-bottom: 1px solid #f1f1f1;
    margin-top: 8px;
    padding-bottom: 8px;
}

/* Move tooltip button on right side of title, for checkbox */
.Sleek ul.epi-form-container__section.dijitContainer.dijitTabPane li.epi-form-container__section__row--checkbox > .epi-form-container__section__label-container > div.epi-form-container__section__tooltip {
    position: absolute;
    right: 0;
    margin-right: 8px;
}

.Sleek ul.epi-form-container__section.dijitContainer.dijitTabPane li.epi-form-container__section__row.epi-form-container__section__row--field.epi-form-container__section__row--checkbox > .epi-form-container__section__label-container .dijitInline {
    margin-left: 0px;
}

.Sleek ul.epi-form-container__section.dijitContainer.dijitTabPane li.epi-form-container__section__row--checkbox > .epi-form-container__section__label-container > .dijit.dijitInline > .dijit.dijitInline.dijitCheckBox {
    margin-left: 2px;
    position: absolute;
    margin-top: 4px;
}

/* Moved checkboxes to the right of public virtual bool properties */
.Sleek ul.epi-form-container__section.dijitContainer.dijitTabPane li.epi-form-container__section__row.epi-form-container__section__row--field.epi-form-container__section__row--checkbox .epi-form-container__section__label-container {
    width: 100%;
    height: 100%;
    text-align: right;
}

.Sleek ul.epi-form-container__section.dijitContainer.dijitTabPane li.epi-form-container__section__row.epi-form-container__section__row--field.epi-form-container__section__row--checkbox .epi-form-container__section__label-container > label {
    width: 100%;
    min-width: 220px;
    cursor: pointer;
}
