/* Display 'descriptions' for each property in 'Properties View' and in 'On Create New Page Required Properties View' */
.Sleek div.epi-cardContainer.dijitContainer.dijitLayoutContainer .dijitContainer > .epi-form-container div.dijitTabPaneWrapper ul.epi-form-container__section.dijitLayoutContainer.dijitContainer > li.epi-form-container__section__row > label[title]:after,
/* Display 'descriptions' for each property in 'On Create New Block Properties View' */
.Sleek div.epi-containerLayout.dijitLayoutContainer.dijitContainer ul > li.epi-form-container__section__row.epi-form-container__section__row--field > label[title]:after {
    display: block;
    content: " " attr(title);
    font-size: 13px;
    font-style: italic;
    position: relative;
    background-color: #efefef;
    border-radius: 3px;
    padding-left: 4px;
    padding-right: 4px;
    color: #626262;
    margin-top: 3px;
    position: relative;
    max-width: 240px;
    min-width: 140px;
    line-height: 1.31;
}

@media screen and (max-width: 1200px) {
    .Sleek div.epi-cardContainer.dijitContainer.dijitLayoutContainer .dijitContainer > .epi-form-container div.dijitTabPaneWrapper ul.epi-form-container__section.dijitLayoutContainer.dijitContainer > li.epi-form-container__section__row > label[title]:after,
    .Sleek div.epi-containerLayout.dijitLayoutContainer.dijitContainer ul > li.epi-form-container__section__row.epi-form-container__section__row--field > label[title]:after {
        font-size: 12px;
        width: 100%;
    }
}

/* Display 'descriptions' for each property in 'IList Property Dialog View' */
/* NOTE: 'descriptions' in epi 12.9.0 is currently not printed out to the HTML, cannot use the content: '' attr trick for these */


/* Hide 'Descriptions' in the last tab, 'SETTINGS' which is Episerver "only" properties */
.Sleek div.epi-cardContainer.dijitContainer.dijitLayoutContainer .dijitContainer > .epi-form-container div.dijitTabPaneWrapper ul.dijitLayoutContainer.dijitContainer.epi-form-container__section:last-child > li.epi-form-container__section__row > label[title]:after {
    content: none;
}

/* Show 'Descriptions' in the last tab, 'SETTINGS', but only the none-top-4 */
.Sleek div.epi-cardContainer.dijitContainer.dijitLayoutContainer .dijitContainer > .epi-form-container div.dijitTabPaneWrapper ul.dijitLayoutContainer.dijitContainer.epi-form-container__section:last-child > li.epi-form-container__section__row:nth-child(n+8) > label[title]:after {
    content: " " attr(title) !important;
}

/* Show 'Descriptions' always in the last property on all tabs, even 'Settings' tab */
.Sleek div.epi-cardContainer.dijitContainer.dijitLayoutContainer .dijitContainer > .epi-form-container div.dijitTabPaneWrapper ul.dijitLayoutContainer.dijitContainer.epi-form-container__section > li.epi-form-container__section__row:last-of-type > label[title]:after {
    content: " " attr(title) !important;
}

/* Set label width on all properties in 'Properties View' and in 'On Create New Page Required Properties View' */
.Sleek div.epi-cardContainer.dijitContainer.dijitLayoutContainer .dijitContainer > .epi-form-container div.dijitTabPaneWrapper ul.epi-form-container__section.dijitLayoutContainer.dijitContainer > li.epi-form-container__section__row > label,
/* Set label width on all properties in 'On Create New Block Properties View' */
.Sleek div.epi-containerLayout.dijitLayoutContainer.dijitContainer ul > li.epi-form-container__section__row.epi-form-container__section__row--field > label {
    width: 100%;
    max-width: 240px;
}

@media screen and (max-width: 1200px) {
    .Sleek div.epi-cardContainer.dijitContainer.dijitLayoutContainer .dijitContainer > .epi-form-container div.dijitTabPaneWrapper ul.epi-form-container__section.dijitLayoutContainer.dijitContainer > li.epi-form-container__section__row > label,
    .Sleek div.epi-containerLayout.dijitLayoutContainer.dijitContainer ul > li.epi-form-container__section__row.epi-form-container__section__row--field > label {
        width: auto;
        max-width: 200px;
    }
}


/* Hide the title saying 'Required Properties' during new block dialog */
.Sleek .epi-newContentContainer li.epi-form-container__section__row.epi-form-container__section__row--group > div.epi-containerLayout.dijitLayoutContainer.dijitContainer > div.epi-formsHeaderContainer {
    visibility: hidden;
    display: none;
}

/* Wide 'Content Area' selector */
.Sleek li.epi-form-container__section__row--field div.epi-content-area-editor--wide.epi-content-area-editor {
    max-width: 610px;
    color: red;
    margin-left: 8px;
}

.Sleek li.epi-form-container__section__row--field div.epi-content-area-header-block {
    max-width: 610px;
    margin-left: 8px;
    padding: 0;
}

    .Sleek li.epi-form-container__section__row--field div.epi-content-area-header-block > div {
        margin: 8px;
    }


/* CheckBoxes 'On Create Page' and 'On Create Block' required properties view */
div.epi-createContent div.dijitContainer.epi-newContentContainer ul li.epi-form-container__section__row.epi-form-container__section__row--field.epi-form-container__section__row--checkbox {
    overflow: hidden;
}

    /* CheckBoxes 'On Create Page' and 'On Create Block' required properties view */
    div.epi-createContent div.dijitContainer.epi-newContentContainer ul li.epi-form-container__section__row.epi-form-container__section__row--field.epi-form-container__section__row--checkbox > div.dijit.dijitInline {
        margin-left: 12px !important;
        margin-right: 100% !important;
        position: absolute !important;
        float: left !important;
        cursor: pointer;
        left: 252px !important;
    }

/*End checkbox adjustments */


/* Hide "language" in version gadget as we only have NO */
.Sleek .dgrid-row-table .dgrid-column-language:first-child {
    width: HideLanguageColumnInVersionGadget;
    visibility: HideLanguageColumnInVersionGadgetVisibility;
}

/* NEW CONTENT WINDOW - BORDER AROUND EACH CONTENT TYPE (BLOCK/PAGE) TO SELECT FROM */
.Sleek .epi-listingContainer ul.epi-advancedListing li div.epi-browserWindow {
    background-color: ContentCreationBorderColor !important;
}


/* PAGE TREE AND BLOCK TREE GETS A BORDER BOTTOM FOR SELECTED ITEM */
.Sleek .dijitTreeContainer .dijitTreeRow.dijitTreeRowSelected::before {
    border-bottom: 1px solid PageTreeSelectedContentBorderColor;
    height: 31px;
}

/* Title of 'Current Content' in h1 in the breadcrumb */
.Sleek .epi-toolbarLeading .epi-breadCrumbs-title-wrapper h1.epi-breadcrumbContentItem {
    color: ContentTitleColor;
}

/* CUSTOM PAGE TREE IMAGE */
.Sleek .dijitIcon.dijitTreeIcon.epi-iconObjectPage.custom-common-episerver-page-tree-icon {
    background-size: contain;
    background-repeat: no-repeat;
    min-width: 19px;
    max-height: 19px;
    max-width: 21px;
    font-size: 1px;
    margin-top: 5px;
}

/* PAGE TREE ICON */
.Sleek .dijitIcon.dijitTreeIcon.epi-iconObjectPage {
    margin-top: 5px;
}

/* PAGE NAME (TITLE) IN NAVIGATION WHEN VIEWING A PAGE OR BLOCK'S PREFIX ICON */
.Sleek .epi-breadCrumbs-title-wrapper > .dijitInline.dijitIcon.epi-breadCrumbsCurrentItem-icon.dijitTreeIcon.epi-iconObjectPage {
    visibility: hidden;
    display: none;
}

/* PAGE NAME (TITLE) IN NAVIGATION WHEN VIEWING A PAGE OR BLOCK */
.Sleek .epi-breadCrumbs-title-wrapper {
    margin-top: 2px;
}

/* PAGE TREE CHEVRON TO EXPAND OR COLLAPSE */
.Sleek .dijitTreeExpandoOpened {
    margin-top: 5px;
}

/* BORDER ON CONTENT TYPES WHEN CLICKING ON 'NEW PAGE' OR 'NEW BLOCK' */
.Sleek .epi-newContentContainer ul.epi-advancedListing li.dijitLayoutContainer-child > .epi-browserWindow > .epi-browserWindowContent {
    background-color: ContentCreationBackgroundColor;
}

    /* PLACE THE 'CONTENT IMAGE' DURING 'NEW CONTENT WINDOW DIALOG' IN THE CENTER OF ITS 'BUTTON' */
    .Sleek .epi-newContentContainer ul.epi-advancedListing li.dijitLayoutContainer-child > .epi-browserWindow > .epi-browserWindowContent > img {
        min-height: 30%;
        min-width: 30%;
        max-height: 70%;
        max-width: 70%;
        margin: 0 auto;
        padding-top: 8%;
    }

/* BACKGROUND COLOR OF 'PROJECT TOOLBAR' AT BOTTOM WHEN VIEWING 'Edit' IF YOU'RE WORKING IN A PROJECT */
.Sleek .epi-project-mode-toolbar.epi-project-mode-toolbar--project-selected {
    background-color: ActiveProjectBarBackgroundColor !important;
    border-color: ActiveProjectBarBackgroundColorBorder !important;
}

/* ILIST PROPERTY DIALOG - HIDING THE OVERFLOW */
.dijitDialogSingleChild > .epi-form-container.dijitLayoutContainer.dijitContainer {
    max-width: 100%;
}

/* MOVE CHECK BOXES ON THE RIGHT SIDE OF THE LABEL */
.epi-form-container__section li.epi-form-container__section__row.epi-form-container__section__row--field.epi-form-container__section__row--checkbox > .epi-form-container__section__label-container {
    cursor: pointer;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    position: relative;
}

.epi-form-container__section li.epi-form-container__section__row.epi-form-container__section__row--field.epi-form-container__section__row--checkbox > .epi-form-container__section__label-container .dijitInline {
    margin-left: 12px;
}

.epi-form-container__section li.epi-form-container__section__row.epi-form-container__section__row--field.epi-form-container__section__row--checkbox > .epi-form-container__section__label-container .dijitInline input.dijitCheckBoxInput {
    cursor: pointer;
}

/* Revert Epi 12.10 UI changes */
.Sleek div.dijitTabPaneWrapper > ul.epi-form-container__section.dijitLayoutContainer.dijitContainer.dijitTabPane.dijitVisible > li.epi-form-container__section__row {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
}

.Sleek div.dijitTabPaneWrapper > ul.epi-form-container__section.dijitContainer.dijitTabPane > li.epi-form-container__section__row > .epi-form-container__section__label-container {
    max-width: 240px !important;
    min-width: 240px !important;
    align-items: start;
    padding: 4px !important;
}

/*.Sleek div.dijitTabPaneWrapper > ul.epi-form-container__section.dijitLayoutContainer.dijitContainer.dijitTabPane.dijitVisible > li.epi-form-container__section__row > * {
    height: unset;
}*/

.Sleek .epi-form-container__section__row.epi-form-container__section__row--field {
    border-bottom: 1px solid #f1f1f1;
    margin-top: 8px;
    padding-bottom: 8px;
}

/* Move tooltip button on right side of title, for checkbox */
.Sleek li.epi-form-container__section__row--checkbox > .epi-form-container__section__label-container > div.epi-form-container__section__tooltip {
    position: absolute;
    right: 0;
    margin-right: 8px;
}

.epi-form-container__section li.epi-form-container__section__row.epi-form-container__section__row--field.epi-form-container__section__row--checkbox > .epi-form-container__section__label-container .dijitInline {
    margin-left: 0px;
}

.Sleek li.epi-form-container__section__row--checkbox > .epi-form-container__section__label-container > .dijit.dijitInline > .dijit.dijitInline.dijitCheckBox {
    margin-left: 2px;
    position: absolute;
    margin-top: 4px;
}
