/* Hide "language" in version gadget, if one only allows one lang in CMS */
.Sleek .dgrid-row-table .dgrid-cell.dgrid-column-language:first-child {
    width: 0px;
    visibility: hidden;
    display: none !important;
}